.monitor-page{
    display: grid;
    grid-template-columns: minmax(200px, 1fr)  4fr;
    column-gap: 15px;
    /* background-color: rgb(245, 245, 245); */
    padding-bottom: 20px;
}
.left-side-space{
   height:100vh;
   overflow: auto;
   margin-left: 10px;
}
.right-side-space{
    margin-right: 10px;
}

/* remove the scroll bar but scrolling will work. only the icon will remove  */
/* .left-layout::-webkit-scrollbar{
   width: 0;
} */

.monitors-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* for sort dropdown menu  */
.monitor-sort-container{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    align-items: center;
}
.sort-option .option-select{
    padding: 5px;
    /* border: 1px solid rgb(182, 182, 182); */
    border: 0;
    background-color: rgb(230, 230, 230);
}

/* for pagination  */
.pagination-container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.pagination-container button{
     margin-right: 5px;
     padding: 0px 15px;
     height: 40px;
     border: 1px solid #0D6EFD;
     background-color: rgb(223, 221, 221);
}
.active{
    background-color: #0D6EFD !important;
    color: white;
}
.pagination-container button:hover{
    background-color: #0D6EFD !important;
    color: white;
}